---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
---

<Layout title="Portfolio | Aaron Santo (Lil-Strudel)">
  <main>
    <Button href="/" text="Go Home" />
  </main>
</Layout>
