---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portfolio | Aaron Santo (Lil-Strudel)">
  <main class="min-w-[100vw] min-h-[100vh] bg-white dark:bg-black">
    <a
      href="/"
      class="rounded-md bg-indigo-600 dark:bg-blue px-3.5 py-2.5 text-sm font-semibold text-white dark:text-black shadow-sm hover:bg-indigo-500 dark:hover:bg-purple focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 dark:focus-visible:outline-indigo"
      >Home</a
    >
  </main>
</Layout>
